// font sizes
$font-size: (
    'xxx-sm': 12px,
    'xx-sm': 14px,
    'x-sm': 16px,
    'sm': 18px,
    'base': 20px,
    'md': 20px,
    'lg': 24px,
    'x-lg': 30px,
    'xx-lg': 32px,
);

// FONT WEIGHTS
$font-weights: (
    'thin': 100,
    'extra-light': 200,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold': 700,
    'extra-bold': 800,
    'ultra-bold': 900
);

// FONT STACKS
$font-family-urbanist: 'Urbanist', sans-serif;
// BASE FONT
$base-font-family: $font-family-urbanist;
$base-font-color: $text-color;
$base-font-size: map-get($font-size, 'base');
$base-font-weight: map-get($font-weights, 'medium');
$leading-base: 1.5;

// FONT SIZES FOR H1 - H6
$h1-font-size: 2 * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// PATH VARIABLES
$img-path: "/assets/images/"; // Usage: background: url('#{$img-path}/img.jpg') 0 0 no-repeat;

// Z-INDEX 
$z-low: 10;
$z-mid: 100;
$z-high: 1000;

// TRANSITION
$default-transition-timing: ease-in-out;
$default-transition-duration: 300ms;
$default-transition: all $default-transition-timing $default-transition-duration;

// BREAKPOINTS
$breakpoints-up: (
    "xs": "480px",
    "sm": "576px", 
    "md": "768px", 
    "lg": "992px", 
    "xl": "1200px", 
    "xxl": "1400px"
);

$breakpoints-down: (
    "xs": "479.99px",
    "sm": "575.99px", 
    "md": "767.99px", 
    "lg": "991.99px", 
    "xl": "1199.99px", 
    "xxl": "1399.99px"
);