// abstracts
@import "abstracts/color_palette";
@import 'abstracts/variables';
@import 'abstracts/config';
@import 'abstracts/functions';
@import 'abstracts/placeholders';
@import 'abstracts/mixins';
// base
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';
// components
@import "components/button";
@import "components/table";
@import "components/title";
// layout
@import "layout/header";
@import "layout/navbar";
@import 'layout/forms';
@import "layout/footer";
// vendors
@import "vendors/bootstrap";
// pages
@import "pages/index";
@import "pages/login";
@import "pages/register";
@import "pages/success";
@import "pages/upload";
@import "pages/bookings";