html{
    -webkit-text-size-adjust: 100%;
    font-size: map-get($font-size, "base");
}

body{
    @include font($base-font-family, $base-font-size, $base-font-color, $base-font-weight);
}

p{
    @include font($base-font-family, $base-font-size, $base-font-color, $base-font-weight);
}

h1, h2, h3, h4, h5, h6{
    text-rendering: optimizeLegibility;
    @include flush--bottom;
}

* + h1, 
* + h2,
* + h3,
* + h4,
* + h5,
* + h6{
    @include m(16px);
}

h1, .h1{ font-size: $h1-font-size; }
h2, .h2{ font-size: $h2-font-size; }
h3, .h3{ font-size: $h3-font-size; }
h4, .h4{ font-size: $h4-font-size; }
h5, .h5{ font-size: $h5-font-size; }
h6, .h6{ font-size: $h6-font-size; }

%default-text{
    @include font-w("medium");
    letter-spacing: 0.02em;
    color: $text-color;
}

.text{
    @extend %default-text;
    @include breakpoint-down(md){
        @include font-s(map-get($font-size, "sm"));
    }
    @include breakpoint-down(xs){
        @include font-s(map-get($font-size, "x-sm"));
    }

    &-sm{
        @include font-s(map-get($font-size, "x-sm"));
        @include breakpoint-down(md){
            @include font-s(map-get($font-size, "xx-sm"));
        }
        @include breakpoint-down(xs){
            @include font-s(map-get($font-size, "xxx-sm"));
        }
    }

    &-xs{
        @include font-s(map-get($font-size, "xx-sm"));
        @include breakpoint-down(md){
            @include font-s(map-get($font-size, "xxx-sm"));
        }
    }

    &-lg{
        @include font-s(map-get($font-size, "lg"));
        @include breakpoint-down(md){
            @include font-s(map-get($font-size, "md"));
        }
        @include breakpoint-down(xs){
            @include font-s(map-get($font-size, "sm"));
        }
    }

    &-xl{
        @include font-s(map-get($font-size, "xx-lg"));
        @include breakpoint-down(lg){
            @include font-s(map-get($font-size, "x-lg"));
        }
        @include breakpoint-down(md){
            @include font-s(map-get($font-size, "lg"));
        }
        @include breakpoint-down(xs){
            @include font-s(map-get($font-size, "md"));
        }
    }
}



