.page-bookings{
    .sc-bookings{
        #bookingTab{
            @include border-none;
            margin-bottom: 41px;
            .nav-item{
                &-active{
                    @include border($clr-primary, 2px, bottom);
                }
            }
            .nav-link{
                .tab-icon{
                    margin-right: 12px;
                }
            }
        }
    }
}

.bookings-list{
    margin-top: 16px;
    // @include grid;
    // column-gap: 16px;
    // row-gap: 32px;

    // @include cols-repeat(md, 2);
    // @include cols-repeat(xl, 3);
    // @include breakpoint-up(xl){
    //     gap: 40px;
    // }

    .bookings-item{
        box-shadow: 0px 28px 11px rgba(0, 0, 0, 0.01), 0px 16px 9px rgba(0, 0, 0, 0.05), 0px 7px 7px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        @include border-radius(16px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-top{
            @include p(20px, 24px, 14px, 24px);

            .bookings-item-badge{
                @include py(4px);
                @include px(8px);
                @include border-radius(4px);
                margin-bottom: 30px;

                .icon{
                    width: 20px;
                    margin-right: 10px;
                }

                &-pending{
                    @extend .bookings-item-badge;
                    @include bg-color($clr-atomic-tangerine);
                }

                &-confirmed{
                    @extend .bookings-item-badge;
                    @include bg-color($clr-white);
                }

                &-completed{
                    @extend .bookings-item-badge;
                    @include bg-color($clr-gray);
                }
            }

            .bookings-item-title{
                margin-bottom: 13px;
            }

            .bookings-item-time{
                margin-bottom: 15px;
            }

            .info-item{
                & > *:first-child{
                    width: 120px;
                }
                .icon{
                    margin-right: 8px;
                }
                .approved{
                    .icon{
                        width: 12px;
                        margin-left: 16px;
                    }
                }
                .pending{
                    .icon{
                        width: 10px;
                        margin-left: 16px;
                    }
                }
            }
        }

        &-bottom{
            .bookings-item-btn{
                width: 50%;
                @include py(17px);
                @include px(10px);

                &:hover{
                    @include opacity(0.9);
                }

                .icon{
                    width: 24px;
                }

                &.btn-cancel{
                    @include bg-color($clr-red);
                    .icon{
                        margin-right: 8px;
                    }
                }
                &.btn-details{
                    @include bg-color($clr-primary);
                    .icon{
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .past-bookings-item{
        .bookings-item-bottom{
            .btn-details{
                @include bg-color($clr-gray);
            }
        }
    }
}

#account{
    .acc-intro{
        box-shadow: 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        @include border-radius(8px);

        &-img{
            @include pos-relative;
            max-width: 240px;
            @include push--auto;
            margin-bottom: 22px;

            .acc-edit-btn{
                box-shadow: 0.75px 3px 1.5px rgba(0, 0, 0, 0.01), 0.75px 1.5px 0.75px rgba(0, 0, 0, 0.05), 0px 0.75px 0.75px rgba(0, 0, 0, 0.09), 0px 0px 0.75px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                @include border-radius(24px);
                height: 44px;
                @include flex-center;
                @include px(12px);
                width: 128px;
                @include pos-absolute(null, null, -22px, 50%);
                @include bg-color($clr-white);
                transform: translateX(-50%);

                &:active{
                    transform: translateX(-50%) scale(0.95);
                }

                .icon{
                    width: 24px;
                }
            }
        }

        &-block{
            @include py(16px);
            @include px(48px);
            &.border-bottom{
                border-color: opacity(#ababab, 0.5);
            }

            ul li{
                @include breakpoint-down(md){
                    margin-top: 8px!important;
                    margin-bottom: 8px!important;
                }
            }
        }
    }
    .acc-info{
        box-shadow: 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        @include border-radius(8px);
        margin-top: 24px;
        @include py(24px);
        @include px(48px);

        p{
            line-height: 1.5;
            letter-spacing: 0.08em;
        }
    }
}